.Map {
    /* width: 100%; */
    background-color: #003554;
    border: 1px solid rgba(0, 0, 0, 0.175);
    border-radius: 0.25rem;
    padding: .5rem;
}

.users {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: .5rem;
}

.user {
    width: 200px;
    padding: 0rem;
    background-color: #051923;
    padding-bottom: .5rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.user-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user-btns {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.user>h3 {
    background-color: #00A6FB;
    border-radius: .25rem .25rem 0 0;
}